div{
    text-transform:uppercase;
}
.outer{
    height: 50px;
    
    background-color: white;
    display: flex;
    
    
}
.inner{
    width: 380px;
    border: 4px solid rgb(153, 136, 136);
    display: flex;
    align-items: center;
    border-right: 2px ;
    padding-left: 3px;
    color: blue;
    
}
#home{
    background-color: gold;
    color: black;
    
}
body{
    background-color: beige;
}